<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.client.eurekaclient.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.client.eurekaclient.pojo.Notice">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="noticename" jdbcType="VARCHAR" property="noticename" />
    <result column="noticevalue" jdbcType="VARCHAR" property="noticevalue" />
    <result column="noticeauthor" jdbcType="VARCHAR" property="noticeauthor" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uuid, noticename, noticevalue, noticeauthor
  </sql>
  <select id="selectByExample" parameterType="com.client.eurekaclient.pojo.NoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notice
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from notice
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="uuid" keyProperty="uuid" parameterType="com.client.eurekaclient.pojo.Notice" useGeneratedKeys="true">
    insert into notice (noticename, noticevalue, noticeauthor
      )
    values (#{noticename,jdbcType=VARCHAR}, #{noticevalue,jdbcType=VARCHAR}, #{noticeauthor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="uuid" keyProperty="uuid" parameterType="com.client.eurekaclient.pojo.Notice" useGeneratedKeys="true">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticename != null">
        noticename,
      </if>
      <if test="noticevalue != null">
        noticevalue,
      </if>
      <if test="noticeauthor != null">
        noticeauthor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticename != null">
        #{noticename,jdbcType=VARCHAR},
      </if>
      <if test="noticevalue != null">
        #{noticevalue,jdbcType=VARCHAR},
      </if>
      <if test="noticeauthor != null">
        #{noticeauthor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.client.eurekaclient.pojo.Notice">
    update notice
    <set>
      <if test="noticename != null">
        noticename = #{noticename,jdbcType=VARCHAR},
      </if>
      <if test="noticevalue != null">
        noticevalue = #{noticevalue,jdbcType=VARCHAR},
      </if>
      <if test="noticeauthor != null">
        noticeauthor = #{noticeauthor,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.client.eurekaclient.pojo.Notice">
    update notice
    set noticename = #{noticename,jdbcType=VARCHAR},
      noticevalue = #{noticevalue,jdbcType=VARCHAR},
      noticeauthor = #{noticeauthor,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select id="getAll" resultMap="BaseResultMap">
    select * from notice
  </select>
  <select id="getMyNotice" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from notice where noticeauthor =
    (select articleauth from article where uuid =
    (select articleid from choosearticle where stuid = #{stuid,jdbcType=VARCHAR}))
  </select>
  <select id="getAdminNotice" resultMap="BaseResultMap">
    select * from notice where noticeauthor = '管理员'
  </select>
  <insert id="addNotice" parameterType="java.lang.String">
    insert into notice
    (uuid,noticename,noticevalue,noticeauthor)
    values
    (#{uuid,jdbcType=VARCHAR},#{noticename,jdbcType=VARCHAR},#{noticevalue,jdbcType=VARCHAR},#{noticeauth,jdbcType=VARCHAR})
  </insert>
  <select id="getNoticeCount" resultType="java.lang.Integer">
    select count(*) from notice
  </select>
  <select id="getNoticeByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from notice limit #{start,jdbcType=VARCHAR},#{limit,jdbcType=VARCHAR}
  </select>
  <delete id="delNoticeById" parameterType="java.lang.String">
    delete from notice where uuid = #{id,jdbcType=VARCHAR}
  </delete>
  <select id="searchNoticeCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from notice where 1 = 1
    <if test="author != ''">
      and noticeauthor like CONCAT(CONCAT('%',#{author,jdbcType=VARCHAR}),'%')
    </if>
  </select>
  <select id="searchNotice" resultMap="BaseResultMap">
    select * from notice where 1 = 1
    <if test="author != ''">
      and noticeauthor like CONCAT(CONCAT('%',#{author,jdbcType=VARCHAR}),'%')
    </if>
    limit #{start,jdbcType=VARCHAR},#{limit,jdbcType=VARCHAR}
  </select>
  <select id="getNoticeByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from notice where noticename = #{noticename,jdbcType=VARCHAR}
  </select>
</mapper>