<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.client.eurekaclient.mapper.ArticleRecordMapper">
  <resultMap id="BaseResultMap" type="com.client.eurekaclient.pojo.ArticleRecord">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="articleid" jdbcType="VARCHAR" property="articleid" />
    <result column="currmessage" jdbcType="VARCHAR" property="currmessage" />
    <result column="premessage" jdbcType="VARCHAR" property="premessage" />
    <result column="dealperson" jdbcType="VARCHAR" property="dealperson" />
    <result column="dealtime" jdbcType="VARCHAR" property="dealtime" />
    <result column="dealmethod" jdbcType="VARCHAR" property="dealmethod" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uuid, articleid, currmessage, premessage
  </sql>
  <select id="selectByExample" parameterType="com.client.eurekaclient.pojo.ArticleRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from articlerecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from articlerecord
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from articlerecord
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="uuid" keyProperty="uuid" parameterType="com.client.eurekaclient.pojo.ArticleRecord" useGeneratedKeys="true">
    insert into articlerecord (articleid, currmessage, premessage
      )
    values (#{articleid,jdbcType=VARCHAR}, #{currmessage,jdbcType=VARCHAR}, #{premessage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="uuid" keyProperty="uuid" parameterType="com.client.eurekaclient.pojo.ArticleRecord" useGeneratedKeys="true">
    insert into articlerecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleid != null">
        articleid,
      </if>
      <if test="currmessage != null">
        currmessage,
      </if>
      <if test="premessage != null">
        premessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleid != null">
        #{articleid,jdbcType=VARCHAR},
      </if>
      <if test="currmessage != null">
        #{currmessage,jdbcType=VARCHAR},
      </if>
      <if test="premessage != null">
        #{premessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.client.eurekaclient.pojo.ArticleRecord">
    update articlerecord
    <set>
      <if test="articleid != null">
        articleid = #{articleid,jdbcType=VARCHAR},
      </if>
      <if test="currmessage != null">
        currmessage = #{currmessage,jdbcType=VARCHAR},
      </if>
      <if test="premessage != null">
        premessage = #{premessage,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.client.eurekaclient.pojo.ArticleRecord">
    update articlerecord
    set articleid = #{articleid,jdbcType=VARCHAR},
      currmessage = #{currmessage,jdbcType=VARCHAR},
      premessage = #{premessage,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <insert id="createRecord" parameterType="java.lang.String">
    insert into articlerecord
    (uuid,articleid,currmessage,dealperson,dealtime,dealmethod)
     select
    #{artrecordid,jdbcType=VARCHAR},#{articleid,jdbcType=VARCHAR},#{message,jdbcType=VARCHAR},
    name,#{articlecreatetime,jdbcType=VARCHAR},#{dealmethod,jdbcType=VARCHAR}
    from user where uuid = #{creater,jdbcType=VARCHAR}
  </insert>
  <insert id="addRecord" parameterType="java.lang.String">
    insert into articlerecord
    (uuid,articleid,currmessage,dealperson,dealtime,dealmethod)
    values
    (#{recordid,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR},#{currmessage,jdbcType=VARCHAR},
    #{dealperson,jdbcType=VARCHAR},#{dealtime,jdbcType=VARCHAR},#{dealmethod,jdbcType=VARCHAR})
  </insert>
  <select id="getArticleRecordCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from articlerecord where articleid = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getArticleRecord" resultMap="BaseResultMap">
    select * from articlerecord where articleid = #{id,jdbcType=VARCHAR} order by dealtime
    limit #{start,jdbcType=VARCHAR},#{limit,jdbcType=VARCHAR}
  </select>
</mapper>