<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.client.eurekaclient.mapper.RepRecordMapper">
  <resultMap id="BaseResultMap" type="com.client.eurekaclient.pojo.RepRecord">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="reportid" jdbcType="VARCHAR" property="reportid" />
    <result column="currmessage" jdbcType="VARCHAR" property="currmessage" />
    <result column="premessage" jdbcType="VARCHAR" property="premessage" />
    <result column="dealperson" jdbcType="VARCHAR" property="dealperson" />
    <result column="dealtime" jdbcType="VARCHAR" property="dealtime" />
    <result column="dealmethod" jdbcType="VARCHAR" property="dealmethod" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uuid, reportid, currmessage, premessage, dealperson, dealtime, dealmethod
  </sql>
  <select id="selectByExample" parameterType="com.client.eurekaclient.pojo.RepRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from reprecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reprecord
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from reprecord
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="uuid" keyProperty="uuid" parameterType="com.client.eurekaclient.pojo.RepRecord" useGeneratedKeys="true">
    insert into reprecord (reportid, currmessage, premessage, 
      dealperson, dealtime, dealmethod
      )
    values (#{reportid,jdbcType=VARCHAR}, #{currmessage,jdbcType=VARCHAR}, #{premessage,jdbcType=VARCHAR}, 
      #{dealperson,jdbcType=VARCHAR}, #{dealtime,jdbcType=VARCHAR}, #{dealmethod,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="uuid" keyProperty="uuid" parameterType="com.client.eurekaclient.pojo.RepRecord" useGeneratedKeys="true">
    insert into reprecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        reportid,
      </if>
      <if test="currmessage != null">
        currmessage,
      </if>
      <if test="premessage != null">
        premessage,
      </if>
      <if test="dealperson != null">
        dealperson,
      </if>
      <if test="dealtime != null">
        dealtime,
      </if>
      <if test="dealmethod != null">
        dealmethod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportid != null">
        #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="currmessage != null">
        #{currmessage,jdbcType=VARCHAR},
      </if>
      <if test="premessage != null">
        #{premessage,jdbcType=VARCHAR},
      </if>
      <if test="dealperson != null">
        #{dealperson,jdbcType=VARCHAR},
      </if>
      <if test="dealtime != null">
        #{dealtime,jdbcType=VARCHAR},
      </if>
      <if test="dealmethod != null">
        #{dealmethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.client.eurekaclient.pojo.RepRecord">
    update reprecord
    <set>
      <if test="reportid != null">
        reportid = #{reportid,jdbcType=VARCHAR},
      </if>
      <if test="currmessage != null">
        currmessage = #{currmessage,jdbcType=VARCHAR},
      </if>
      <if test="premessage != null">
        premessage = #{premessage,jdbcType=VARCHAR},
      </if>
      <if test="dealperson != null">
        dealperson = #{dealperson,jdbcType=VARCHAR},
      </if>
      <if test="dealtime != null">
        dealtime = #{dealtime,jdbcType=VARCHAR},
      </if>
      <if test="dealmethod != null">
        dealmethod = #{dealmethod,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.client.eurekaclient.pojo.RepRecord">
    update reprecord
    set reportid = #{reportid,jdbcType=VARCHAR},
      currmessage = #{currmessage,jdbcType=VARCHAR},
      premessage = #{premessage,jdbcType=VARCHAR},
      dealperson = #{dealperson,jdbcType=VARCHAR},
      dealtime = #{dealtime,jdbcType=VARCHAR},
      dealmethod = #{dealmethod,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <insert id="createReportRecord" parameterType="java.lang.String">
      insert into reprecord
      (uuid,reportid,currmessage,dealperson,dealtime,dealmethod)
      select #{reprecordid,jdbcType=VARCHAR},#{reportid,jdbcType=VARCHAR},
              #{currMessage,jdbcType=VARCHAR},name,
              #{repcreatetime,jdbcType=VARCHAR},#{dealMethod,jdbcType=VARCHAR}
          from user where uuid = #{creater,jdbcType=VARCHAR}
  </insert>
    <select id="getReportRecord" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from reprecord where reportid = #{id,jdbcType=VARCHAR} order by dealtime desc
    </select>
  <insert id="addRecord" parameterType="java.lang.String">
    insert into reprecord
    (uuid,reportid,currmessage,dealperson,dealtime,dealmethod)
    select #{recordid,jdbcType=VARCHAR},uuid,#{currmessage,jdbcType=VARCHAR},
    #{dealperson,jdbcType=VARCHAR},#{dealtime,jdbcType=VARCHAR},#{dealmethod,jdbcType=VARCHAR}
    from report where creater = (select name from user where uuid = #{id,jdbcType=VARCHAR})
  </insert>
  <insert id="editReportRecord" parameterType="java.lang.String">
    insert into reprecord
    (uuid,reportid,currmessage,dealperson,dealtime,dealmethod)
    select
    #{uuid,jdbcType=VARCHAR},#{reportid,jdbcType=VARCHAR},#{currmessage,jdbcType=VARCHAR},
      name,#{repcreatetime,jdbcType=VARCHAR},#{dealmethod,jdbcType=VARCHAR}
    from user where uuid = #{creater,jdbcType=VARCHAR}
  </insert>
</mapper>